<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Абиссинская</string>
	<string>Бенгальская</string>
	<string>Британская</string>
	<string>Бурманаская</string>
	<string>Бурмилла</string>
	<string>Девон-рекс</string>
	<string>Европейская</string>
	<string>Корат</string>
	<string>Корниш</string>
	<string>Мэнкс</string>
	<string>Оцикет</string>
	<string>Ориентальная</string>
	<string>Русская</string>
	<string>Сиамская</string>
	<string>Сингапурская</string>
	<string>Сноушу</string>
	<string>Сфинксы</string>
	<string>Тонкинез</string>
	<string>Шотландская</string>
	<string>Экзотическая</string>
</array>
</plist>
