<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cats</key>
	<array>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>4</integer>
			<key>Id</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Поночка</string>
			<key>Photo</key>
			<string>74351518_large_01_kotenok.jpg</string>
			<key>BirthDate</key>
			<date>2012-03-21T15:09:43Z</date>
			<key>Breed</key>
			<string>персидский</string>
			<key>Price</key>
			<integer>1000</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>FatherId</key>
			<integer>4</integer>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>1</integer>
			<key>Name</key>
			<string>Мисси</string>
			<key>Photo</key>
			<string>9d3601da3c0dafa9cc255e51a6122e51.jpg</string>
			<key>BirthDate</key>
			<date>2012-02-21T15:09:43Z</date>
			<key>Breed</key>
			<string>бенгальский</string>
			<key>Price</key>
			<integer>4000</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>4</integer>
			<key>Id</key>
			<integer>2</integer>
			<key>Name</key>
			<string>Принцесса</string>
			<key>Photo</key>
			<string>ddf2b8aa6e27a146b83076e779ac991d.jpg</string>
			<key>BirthDate</key>
			<date>2012-01-21T15:09:43Z</date>
			<key>Breed</key>
			<string>азиатская</string>
			<key>Price</key>
			<integer>550</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>FatherId</key>
			<integer>-1</integer>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>3</integer>
			<key>Name</key>
			<string>Дейзи</string>
			<key>Photo</key>
			<string>50990_prev_425.jpg</string>
			<key>BirthDate</key>
			<date>2011-03-21T15:09:43Z</date>
			<key>Breed</key>
			<string>сфинкс</string>
			<key>Price</key>
			<integer>0</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<false/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>4</integer>
			<key>Name</key>
			<string>Бакс</string>
			<key>Photo</key>
			<string>2.jpg</string>
			<key>BirthDate</key>
			<date>2011-08-21T15:09:43Z</date>
			<key>Breed</key>
			<string>персидский</string>
			<key>Price</key>
			<integer>0</integer>
			<key>Gender</key>
			<true/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>4</integer>
			<key>Id</key>
			<integer>5</integer>
			<key>Name</key>
			<string>Мэри</string>
			<key>Photo</key>
			<string>74351518_large_01_kotenok.jpg</string>
			<key>BirthDate</key>
			<date>2012-03-21T15:09:43Z</date>
			<key>Breed</key>
			<string>персидский</string>
			<key>Price</key>
			<integer>1000</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>FatherId</key>
			<integer>4</integer>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>6</integer>
			<key>Name</key>
			<string>Патрисия</string>
			<key>Photo</key>
			<string>9d3601da3c0dafa9cc255e51a6122e51.jpg</string>
			<key>BirthDate</key>
			<date>2012-02-21T15:09:43Z</date>
			<key>Breed</key>
			<string>бенгальский</string>
			<key>Price</key>
			<integer>2300</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>4</integer>
			<key>Id</key>
			<integer>7</integer>
			<key>Name</key>
			<string>Линда</string>
			<key>Photo</key>
			<string>ddf2b8aa6e27a146b83076e779ac991d.jpg</string>
			<key>BirthDate</key>
			<date>2012-01-21T15:09:43Z</date>
			<key>Breed</key>
			<string>азиатская</string>
			<key>Price</key>
			<integer>5450</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>FatherId</key>
			<integer>-1</integer>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>8</integer>
			<key>Name</key>
			<string>Барбара</string>
			<key>Photo</key>
			<string>50990_prev_425.jpg</string>
			<key>BirthDate</key>
			<date>2011-03-21T15:09:43Z</date>
			<key>Breed</key>
			<string>сфинкс</string>
			<key>Price</key>
			<integer>6480</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>4</integer>
			<key>Id</key>
			<integer>9</integer>
			<key>Name</key>
			<string>Элизабет</string>
			<key>Photo</key>
			<string>74351518_large_01_kotenok.jpg</string>
			<key>BirthDate</key>
			<date>2012-03-21T15:09:43Z</date>
			<key>Breed</key>
			<string>персидский</string>
			<key>Price</key>
			<integer>1030</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>FatherId</key>
			<integer>4</integer>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Дженнифер</string>
			<key>Photo</key>
			<string>9d3601da3c0dafa9cc255e51a6122e51.jpg</string>
			<key>BirthDate</key>
			<date>2012-02-21T15:09:43Z</date>
			<key>Breed</key>
			<string>бенгальский</string>
			<key>Price</key>
			<integer>1700</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>FatherId</key>
			<integer>4</integer>
			<key>Id</key>
			<integer>11</integer>
			<key>Name</key>
			<string>Сьюзан</string>
			<key>Photo</key>
			<string>ddf2b8aa6e27a146b83076e779ac991d.jpg</string>
			<key>BirthDate</key>
			<date>2012-01-21T15:09:43Z</date>
			<key>Breed</key>
			<string>азиатская</string>
			<key>Price</key>
			<integer>5530</integer>
			<key>Gender</key>
			<false/>
		</dict>
		<dict>
			<key>ForSale</key>
			<true/>
			<key>FatherId</key>
			<integer>-1</integer>
			<key>MotherId</key>
			<integer>-1</integer>
			<key>Id</key>
			<integer>12</integer>
			<key>Name</key>
			<string>Мишель</string>
			<key>Photo</key>
			<string>50990_prev_425.jpg</string>
			<key>BirthDate</key>
			<date>2011-03-21T15:09:43Z</date>
			<key>Breed</key>
			<string>сфинкс</string>
			<key>Price</key>
			<integer>900</integer>
			<key>Gender</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
